/* Apply Inter font globally */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a, input, button {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

/* Spacing for side text */
.side-text {
    margin-left: 20px;
}

.series {
    border-top: white 1px solid;
    border-bottom: white 1px solid;
}

.trifold {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.flip {
    width: 30%;
    border-radius: 10px;
}

.no-underline {
    text-decoration: none;
}

.square {
    width: 60%;
    border-radius: 10px;
}